/* Write your CSS here */
* {
  box-sizing: border-box;
  margin: 0;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  width: 450px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
